ModelDesignLab/bin/Debug/netcoreapp2.0/ModelDesignLab.dll
ModelDesignLab/obj/Debug/netcoreapp2.0/ModelDesignLab.pdb
ModelDesignLab/bin/Debug/netcoreapp2.0/ModelDesignLab.pdb
ModelDesignLab/obj/Debug/netcoreapp2.0/ModelDesignLab.dll
Projects/HelloMVC/obj/Debug/netcoreapp2.1/HelloMVC.assets.cache
Projects/HelloMVC/obj/HelloMVC.csproj.nuget.cache
Projects/HelloMVC/obj/HelloMVC.csproj.nuget.g.props
Projects/HelloMVC/obj/project.assets.json
Projects/HelloMVC/obj/Debug/netcoreapp2.1/HelloMVC.csproj.CoreCompileInputs.cache
Projects/HelloMVC/obj/Debug/netcoreapp2.1/HelloMVC.csprojAssemblyReference.cache
Projects/MyWebApp/obj/Debug/netcoreapp2.1/MyWebApp.csprojAssemblyReference.cache
Projects/MyWebApp/obj/MyWebApp.csproj.nuget.cache
Projects/MyWebApp/obj/MyWebApp.csproj.nuget.g.props
Projects/MyWebApp/obj/project.assets.json
Projects/MyWebApp/obj/Debug/netcoreapp2.1/MyWebApp.assets.cache
Projects/MyWebApp/obj/Debug/netcoreapp2.1/MyWebApp.csproj.CoreCompileInputs.cache
